.teck-stack-section {
	margin-top: 40px;
	height: auto;
}

.section-title h5 {
	text-align: center;
	color: #fff;
}

.tech-content {
	padding: 10px;
	color: #fff;
	margin-top: 50px;
	-webkit-box-shadow: 5px 7px 16px 4px rgba(114, 113, 113, 0.75);
	box-shadow: 5px 7px 16px 4px rgba(133, 131, 131, 0.75);
	transition: background-color 1.3s, color 1.3s;
}

.tech-content p {
	text-align: center;
	padding-top: 30px;
	font-size: 20px;
}

.tech-content:hover {
	background-color: rgb(29, 25, 36);
	cursor: pointer;
	color: wheat;
	transform: scale(1.05);
}
