body {
	background-image: url('../public/images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* height: 100vh; */
	border-bottom: 2px solid black;
}
